@import "../../../../assets/styles/auth-form";

.login .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 106px;
  padding-bottom: 92px;

  .page-image {
    margin: 0;
    border-radius: 5px;
    max-width: 607px;
    max-height: 390px;
  }
}
